// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
//my pallete:
//#F093DE - medium pink
//#A51080 - dark pink
//#FFAFF0 - light pink
//#FCD021 - yellow
//#104547 - green
//#edc5e6 - background pink

$primary: #FCD021;
$secondary: #34495E;
$danger: #AC3B61;
$lightpink: #edc5e6;
$form-range-thumb-bg: $secondary;
$form-range-track-bg: $lightpink;

$btn-active-bg-shade-amount:      20%;
$btn-active-bg-tint-amount:       50%;
$btn-active-border-shade-amount:  25%;
$btn-active-border-tint-amount:   50%;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/transitions";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// body {
// 	background-image: url('./../img/tiles.png');
// 	background-repeat: no-repeat;
//   }

body {
	background-color:$lightpink
  }

.card {
	background-color: rgba(var(--bs-body-bg-rgb), 0.75);
}

// .btn:active {
//   to make some other change on button click
// }

.mt-a-lot {
	margin-top: ($spacer * 10);
  }

.alerts {
	z-index: 1500;
    position: fixed;
    top: 40px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.form-check {
  display: inline-table;
}


// You can add more styles here...


// scss-docs-start import-stack
// Layout & components

//@import "tables";
//@import "dropdown";
// @import "navbar";
// @import "accordion";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "progress";
// @import "list-group";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "spinners";
// @import "offcanvas";
// @import "placeholders";

// scss-docs-end import-stack